<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="static/js/jquery-3.6.1.js"></script>
<script type="text/javascript">
var img2D = [
	[1,1,2,2],
	[3,3,4,4],
	[5,5,6,6],
	[7,7,8,8]
];

var cvr2D = [
	[1,1,1,1],
	[1,1,1,1],
	[1,1,1,1],
	[1,1,1,1]
]

function shuffle(){
	var a = img2D[0][0];
	var b = img2D[0][0];
	for(var i=0; i<100; i++){
		var rnd = Math.floor(Math.random()*4);
		var rnd2 = Math.floor(Math.random()*4);
		a = img2D[0][0];
        b = img2D[rnd][rnd2];
        img2D[0][0] = b;
        img2D[rnd][rnd2] = a;
	}
	render();
}
	
function render(){
	var k = 0;
	for(var i=0; i<4; i++){
		for(var j=0; j<4; j++){
			if(cvr2D[i][j] != 0){
				$('img').eq(i*4 + j).attr('src','static/img/' + img2D[i][j] + '.png').css('border','2px solid red');
			} else {
				$('img').eq(i*4 + j).attr('src','static/img/0.png').css('border','2px solid red');
			}
		}
	}
}          
var a = true;
var b = 0;
var c = 0;
var arr = [];
function myclick(e){
	console.log(img2D[$(event.target).parent().parent().index()][$(event.target).parent().index()]);
	$(event.target).attr('src','static/img/' + img2D[$(event.target).parent().parent().index()][$(event.target).parent().index()] + '.png' );
	var x = $(event.target).attr('src');
	arr.push(x);
	console.log("x : " + x + " +++arr : " + arr);
	if(arr[0] == arr[1]){
		console.log("1");
	} else {
		console.log("2");
		
	}
	console.log(arr[0] + " +++ " + arr[1]);
}

$(document).ready(function(){
	$('img').bind('click', function() {
		myclick(event);
	});
});

</script>
</head>
<body>
<table>
	<tr>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
	</tr>
	<tr>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
	</tr>
	<tr>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
	</tr>
	<tr>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
		<td><img src="static/img/0.png"></td>
	</tr>
</table>
<a href="javascript:render()">render</a>
<a href="javascript:shuffle()">shuffle</a>
</body>
</html>