<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>EMP_LIST</h1> 

<table border="1" style="width:30vw;text-align:center">
       	<tr>
	         <th>사번</th>
	         <th>이름</th>
	         <th>성별</th>
         	 <th>주소</th>
        </tr>
       {% for emp in emps %}
    	<tr>
    		<td><a href="emp_detail?e_id={{emp.e_id}}">{{emp.e_id}}</a></td>
    		<td>{{emp.e_name}}</td>
    		<td>{{emp.sex}}</td>
    		<td>{{emp.addr}}</td>
    	</tr>
    	{% endfor %}
    </table>
</body>
</html>